@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are at <a href="https://docs.microsoft.com/aspnet/core">Coding Dojos of DevSecOpsHackathon</a>.</p>
</div>
